<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="bosmans.frigo">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- permission required to automatically restart a repeating alarm if the user reboots the device -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogopngdraw"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogopngdraw"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PlayersPresent" /> <!-- Register the Alarm Receiver -->
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".GARanking" />
        <activity android:name=".NextActivity" />
        <activity android:name=".GoalsAndAssists" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            />
        </activity>
        <activity android:name=".PresentPlayers" />
        <activity android:name=".AddPlayerToGame" />
        <activity android:name=".ListAllGames" />
        <activity android:name=".NextGame" />
        <activity android:name=".MainActivity" />

        <service
            android:name=".services.MyFirebaseInstanceService">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
        </intent-filter>
        </service>









    </application>



</manifest>